.specialChildren {
    width: 300px;
    height: 300px;
    background-color: #0088ee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;
    text-align: center;
    padding: 5px;
}

.specialChildren-active{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    
}
