:root {
    --primarycolor: #b3b3b3;
    --secondarycolor:  #232f3e;
    --accentcolor:#000000;
}

h2, h3, h4, p, ul, li, a {
    font-family: 'Montserrat', sans-serif;
}
.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000000;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

a {
    color: var(--accentcolor) !important;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;  
}

a:hover{
    text-decoration: none;
}

.custom-hover {
    color: var(--accentcolor) !important;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.custom-hover:hover {
    text-decoration: underline !important;
    font-size: 16px;
}

.custom-footer {
    background-color: var(--secondarycolor);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: var(--secondarycolor);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: var(--secondarycolor);
}

// #draggable {
//     width: 100px;
//     height: 100px;
//     background: #ccc;
// }

// #droppable {
//     position: absolute;
//     left: 250px;
//     top: 0;
//     width: 1000px;
//     height: 1000px;
//     background: #0088ee;
//     color: #fff;
//     padding: 10px;
// }

