
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
} 

#box {
    background-color: #0088ee; 
    width: 500px;
    height: 500px;
    padding: 50px;
    
}

#box1 {
    position: relative;
    height: 500px;
    width: 500px;
    background-color: #0088ee;
    border: 1px solid transparent;
}

#box2 {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 484px;
    width: 484px;
    background-color: #0088ee;
    border-radius: 50px;
    padding: 10px;
}

#box1:hover {
    border: 1px solid white;
}







