.container{
    max-width: 960px;
    margin: auto;
    border: 1px solid #ccc;
    position: relative;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.container ul{
    list-style: none;
    padding: 0px;
    margin: 0;
}
.container > .logo-container{
    display: block;
    float: left;
    width: 40px;
}
.container > .logo-container img{
    padding: 5px 5px 0px 20px;
}
.container > .nav-container{
    display: block;
    float: left;
    width: 740px;
    margin-left: 35px;
    margin-top: 4px;
}
.container > .flyouts-container{
    display: block;
    float: right;
    width: 85px;
    padding: 10px 25px 0px 0px;
}
.container .nav-container ul.nav li, .container .flyouts-container ul.flyouts li{
    display: inline-block;
}
.container .nav-container > ul.nav > li{
    border: 1px solid pink;
    width: 100px;
    padding: 10px 0;
    text-align: center;
}
.container .nav-container > ul.nav > li > ul.subnav{
    position: absolute;
    bottom: -25px;
    border: 1px solid #0088ee;
    display: none;
    height: 20px;
    width: 100px;
    text-align: center;
}
.container .nav-container > ul.nav > li:hover > ul.subnav{
    display: block;
}